header {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  background-color: var(--destaque);
  color: var(--texto);
  padding: 8px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar-widget ul {
    display: flex;
    list-style: none;
    gap: 8px;
}

.navbar-widget a {
    position: relative;
    text-decoration: none;
    color: var(--texto);
    font-weight: 600;
    padding: 12px 8px 6px;
}

.navbar-widget a:hover {
    border-bottom: 2px solid white;
} 