main {
    display: grid;
    grid-template-columns: auto 90vw auto;
    gap: 8px;
}

.sheet-widget {
    padding: 16px;
    border-radius: 8px;
    grid-column: 2;
    background-color: var(--fundo-card)
}

.sheet-widget__img {
    display: block;
    width: 200px;
    aspect-ratio: 1/1;
    object-fit: cover;
    overflow: hidden;
    border: 5px solid var(--fundo-card);
    border-radius: 50%;
    outline: 5px solid var(--destaque);
    margin: 16px auto 16px;
}

.sheet-widget h1 {
    color: var(--destaque);
    margin: 16px 0;
    text-align: left;
}

.sheet-widget__social {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    gap: 24px;
    margin-top: 16px;
}

.sheet-widget__social a {
    color: var(--destaque);
}

.details-widget {
    grid-column: 2;
}

article {
    background-color: var(--fundo-card);
    padding: 24px;
    margin-bottom: 8px;
    border-radius: 8px;
}

article h2 {
    color: var(--destaque);
}

article h2 i {
    margin: 0 8px 8px 0;
}

.details-widget__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
}

.details-widget__item_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.details-widget__item_name {
    font-weight: bold;
    color: var(--text);
}

.details-widget__item_porcent {
    font-weight: bold;
    color: var(--destaque);
}

.details-widget__item_bar {
    height: 8px;
    width: 100%;
    border-radius: 4px;
    background-color: var(--fundo-principal);
}

.details-widget__item_progress {
    height: 100%;
    background-color: var(--destaque-inverso);
}

.details-widget__projects_container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    gap: 20px;
}

.details-widget__projects_project {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--fundo-principal);
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 16px;
}

.details-widget__projects_project a {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: auto;
    margin-left: auto;
}

.details-widget__projects_project:hover {
    cursor: pointer;
}

.details-widget__projects_img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    overflow: hidden;
    border-radius: 8px;
}

footer {
    background-color: var(--destaque);
    color: white;
    text-align: center;
    padding: 14px;
}



@media (min-width: 768px) {
    .sheet-widget {
        grid-column: 2 / 3;
        height: fit-content;
        position: sticky;
        top: 40px;
    }

    main {
        grid-template-columns: auto 300px 1fr auto;
    }

    .details-widget {
        grid-column: 3 / 4;
    }

    .details-widget__container {
        grid-template-columns: 1fr 1fr;
    }

    .details-widget__projects_project {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .details-widget__project_info {
        max-width: 80%;
    }

    .details-widget__projects_img {
        aspect-ratio: 1/1;
        max-width: 20%;
        max-height: 200px;
    }
}