main {
    display: grid;
    grid-template-columns: auto 90vw auto;
    gap: 20px;
    margin-top: 20px;
}

.sheet-widget {
    padding: 16px;
    border-radius: 8px;
    grid-column: 2;
    background-color: var(--fundo-card)
}

.sheet-widget__img {
    display: block;
    width: 200px;
    aspect-ratio: 1/1;
    object-fit: cover;
    overflow: hidden;
    border: 5px solid var(--fundo-card);
    border-radius: 50%;
    outline: 5px solid var(--destaque);
    margin: 16px auto 16px;
}

.sheet-widget h1 {
    color: var(--destaque);
    margin: 16px 0;
    text-align: left;
}

.sheet-widget__social {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    gap: 24px;
    margin-top: 16px;
}

.sheet-widget__social a {
    color: var(--destaque);
}

.details-widget {
    grid-column: 2;
}

article {
    background-color: var(--fundo-card);
    padding: 24px;
    margin-bottom: 8px;
    border-radius: 8px;
}

article h2 {
    color: var(--destaque);
}

article h2 i {
    margin-right: 8px;
}