* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fundo-principal-inverso: #15151E; 
  --texto-inverso: #FFFFFF;
  --destaque-inverso: #a54150;
  --fundo-card-inverso: #111118;

  --fundo-principal: #f5f5f5;
  --texto: #222222;
  --destaque: #5e0714;
  --fundo-card: #ffffff;
}

body {
  display: flex;
  flex-direction: column; 
  align-items: center;
  font-family: "Titillium Web", sans-serif;
  line-height: 1.5em;
  background-color: var(--fundo-principal);
  color: var(--texto);
}

.escuro {
  --fundo-principal: #15151E; 
  --texto: #FFFFFF;
  --destaque: #293766;
  --fundo-card: #111118;

  --fundo-principal-inverso: #FFFFFF;
  --texto-inverso: #1A1A1A;
  --destaque-inverso: #3a4569;
  --fundo-card-inverso: #F2F2F2;
}

